ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.myLi {
	list-style-type: none;
	margin: 0 1vw;
	font-size: 3vh;
	padding: 15px;
}

.myA {
	text-decoration: none;
	color: #d4d4dc;
}

.myA:hover,
.myA:active {
	color: #ff5a09;
}

@media only screen and (max-width: 500px) {
	ul {
		flex-direction: column;
	}

	.myLi {
		margin: 0;
	}

	.myA {
		display: block;
	}
}
