table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: auto;
	padding: 0.5rem;
	text-align: left;
	background-color: #1d1e22;
	color: #d4d4dc;
}

td:hover {
	background-color: #ff5a09;
	color: #d4d4dc;
}

body {
	font-family: 'Ubuntu', sans-serif;
}
a {
	color: #d4d4dc;
}

.tableList {
	background-color: #1d1e22;
	color: #d4d4dc;
}

.headerWfont {
	color: #ff5a09;
	font-size: x-large;
	text-align: left;
	font-weight: bold;
}

.headerLfont {
	color: #d4d4dc;
	font-size: x-large;
	text-align: right;
	font-weight: bold;
}

.idInfoFont {
	color: #ff5a09;
	font-size: 30px;
	padding-bottom: 1%;
	text-align: center;
	font-weight: bold;
}

.headerInfoFont {
	color: #d4d4dc;
	font-size: larger;
	text-align: center;
	font-weight: bold;
}

.loserTable {
	background-color: #ff5a09;
}

.killboardheader {
	padding: 5px;
	margin: 5px;
}

.wrapper {
	position: relative;
	display: flex;
	min-width: 100px;
}

.search-icon {
	display: inline-flex;
}

.searchbar {
	border: 1px solid black;
	border-radius: 9px;
	height: 25px;
	width: 150%;
	padding: 2px 23px 2px 30px;
	outline: 0;
	background-color: #f5f5f5;
	margin: 10px;
}

.searchbar:hover,
.searchbar:focus {
	border: 1.5px solid lightblue;
	background-color: white;
}

.testegrid {
	display: grid;
	padding: 1% 1% 1% 1%;
	margin: 1% 1% 1% 1%;
	gap: 10px;
	grid-template-columns: 3fr 3fr;
}

.gridheaders {
	display: grid;
}

.myheader {
	justify-content: center;
	height: 100%;
	align-items: center;
	display: flex;
}

.searchfield {
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 20px;
	outline: none;
	width: 400px;
}

.iconclass {
	position: fixed;
}
